div {
    background-color: #CAF3FF;
    border-right: 10px solid #FF3300;
    border-left: 10px solid #FF3300;
    padding: 20px;
    margin: 50px;
}

h1 {
    font-size:30px;
    border-bottom: 1px solid #FF3300;
}

p {
    line-height: 2;
    font-size: 14px;
}