@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Didact Gothic', sans-serif;
    background-color: #fff6ff;
}

header {
    background-color: #fff6ff;
}

.redes_sociais{
    text-align: right;
    padding-top: 10px;
    margin-right: 30px;
}

.redes_sociais nav ul {
    list-style: none;
}

.redes_sociais nav ul li {
    display: inline-block;
}

.redes_sociais img{
    width: 35px;
    margin:10px;
}

.redes_sociais a:hover {
    opacity: 0.7;
}

.titulo {
    text-align: center;
    margin-bottom: 15px;
}

.titulo h1 {
    font-family: 'Parisienne', cursive;
    font-size: 40px;
}
.titulo img {
    width: 250px;
    border: 3px solid #fff;
    border-radius: 200px;
}

.titulo img:hover{
    opacity: 0.8;
}

.menu ul {
    background-color: #fff6ff;
    list-style: none;
    text-align: center;
    border-bottom: 2px solid rgb(249, 184, 244, 0.5);
    border-top: 2px solid rgb(249, 184, 244, 0.5);
}

.menu ul li {
    display: inline-block;
}

.menu a:link, nav a:visited{
    height: 45px;
    text-decoration: none;
    font-family: 'font-staatliches';
    color: black;
    display: inline-block;
    padding: 15px;
    box-sizing: border-box;
}

.menu a:hover {
    background-color: #fff;
    color: rgb(249, 184, 244);
}

.descricao1 {
    padding-top: 20px;
    padding-bottom: 10px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.descricao1 h2 {
    color: #ff00ff;
    padding-bottom: 10px;
    text-align: center;
}

.descricao1 p{
    padding-bottom: 5px;
    text-align: justify;
}

.sensual {
    display: flex;
    flex-wrap: wrap;
    align-items: column;
    justify-content: center;
    background-color: #fff6ff;
    padding-top: 20px;
    padding-bottom: 10px;
}

.sensual div img {
    width: 100%;
}

.descricao2 {
    padding-top: 20px;
    padding-bottom: 10px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.descricao2 h2 {
    color: #ff00ff;
    padding-bottom: 10px;
    text-align: center;
}

.descricao2 p{
    padding-bottom: 5px;
    text-align: justify;
}

.noivos {
    display: flex;
    flex-wrap: wrap;
    align-items: column;
    justify-content: center;
    background-color: #fff6ff;
    padding-top: 20px;
    padding-bottom: 10px;
}

.noivos div img {
    width: 100%;
}

.descricao3 {
    padding-top: 20px;
    padding-bottom: 10px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.descricao3 h2 {
    color: #ff00ff;
    padding-bottom: 10px;
    text-align: center;
}

.descricao3 p{
    padding-bottom: 5px;
    text-align: justify;
}

.empoderamento {
    display: flex;
    flex-wrap: wrap;
    align-items: column;
    justify-content: center;
    background-color: #fff6ff;
    padding-top: 20px;
    padding-bottom: 10px;
}

.empoderamento div img {
    width: 100%;
}

.nao_mobile {
    display: none;
}

footer {
    padding: 16px 0;
    background-color: #fff6ff;
    border-top: 2px solid rgb(249, 184, 244, 0.5);
}
  
footer p {
    text-align: center;
}


@media screen and (min-width: 1000px) {

    .descricao1 {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
    }

    .descricao1 h2 {
        text-align: left;
    }

    .descricao1 p {
        text-align: justify;
    }

    .sensual {
        align-items: row;
        width: 1000px;
        align-items: row;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
    }
    
    .sensual div {
        width: 300px;
    }

    .sensual div img {
        width: 100%;
        height: 450px;
    }

    .descricao2 {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
    }

    .descricao2 h2 {
        text-align: left;
    }

    .descricao2 p {
        text-align: justify;
    }

    .noivos {
        align-items: row;
        width: 1000px;
        align-items: row;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
    }
    
    .noivos div {
        width: 300px;
    }

    .noivos div img {
        width: 100%;
    }

    .descricao3 {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
    }

    .descricao3 h2 {
        text-align: left;
    }

    .descricao3 p {
        text-align: justify;
    }

    .empoderamento {
        align-items: row;
        width: 1000px;
        align-items: row;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
    }
    
    .empoderamento div {
        width: 300px;
    }

    .empoderamento div img {
        width: 100%;
        height: 450px;
    }

    .nao_mobile {
        display: inline-block;
    }
}