* {
    margin: 0px;
    box-sizing: border-box;
}

nav {
    background: rgb(255, 69, 0);
}

nav ul {
    list-style: none;
    padding: 0px;
    text-align: center;
    padding-right: 5px;
}

nav ul li {
    display: inline-block;
}

a:link, nav a:visited{
    height: 45px;
    text-decoration: none;
    font-family: 'font-staatliches';
    color: white;
    display: inline-block;
    padding: 14px 20px 5px 20px;
    box-sizing: border-box;
}

nav a:hover {
    color: rgb(255, 69, 0);
    background-color: white;
}

.section1 {
    background-color: rgb(2, 2, 114);
    padding: 20px 17%;
    align-items: center;  
    text-align: center;
}

.primeira_div{
    border: 3px solid rgb(255, 69, 0);
    border-radius: 15px;
    background-color: #fff;
    text-align: center;
    padding: 25px 0;
}

.primeira_div h1 {
    font-size: xx-large;
    padding-bottom: 20px;
}

.img1 {
    display: none;
}

.img2 {
    width: 90%;
}

.primeira_div p {
    color: rgb(255, 69, 0);
    padding-top: 10px;
    font-weight: bold;
}

summary {
    text-align: left;
    color: rgb(255, 69, 0);
    padding: 15px 0;
}

.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    text-align: center;
}

.section2 div {

    padding: 20px;
}

.section2 h2 {
    padding-top: 15px;
    padding-bottom: 20px;
}

.section2 p {
    text-align: justify;
}

.section3 {
    padding: 20px 0;
    align-items: center;  
    text-align: center;
}

.section3 div h2 {
    padding: 15px 0;
    text-align: center;
}

.section3 div p {
    padding: 10px 0;
}

.section3 div{
    margin: 0 10%;
}

footer {
    background-color: rgb(226, 76, 0);
}

footer p {
    color: #fff;
    padding: 20px;
    text-align: center;
}

@media screen and (min-width: 1200px){
    nav ul {
        text-align: right;
    }

    .primeira_div {
        width: 900px;
        margin-left: auto;
        margin-right: auto; 
    }

    .primeira_div img {
        width: 70%;
    }

    .img1 {
        display: inline-block;
    }

    .img2 {
        display: none;
    }

    .section2 {
        width: 1000px;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto; 
    }

    .section3 {
        width: 1200px;
        padding: 0;
        margin-left: auto;
        margin-right: auto; 
    }

    .section3 div h2 {
        text-align: left;
    }

    .section3 div p {
        text-align: justify;
    }


}