* {
    box-sizing: border-box;
    margin:0px;
}

[class^="col"] {
    float:left;
    width: 100%;
}

.linha::after {
    content:"";
    display:block;
    clear:both;
}

@media screen and (min-width:600px) {
    .col-dm-1  {width:08.33%;}
    .col-dm-2  {width:16.66%;}
    .col-dm-3  {width:25.00%;}
    .col-dm-4  {width:33.33%;}
    .col-dm-5  {width:41.66%;}
    .col-dm-6  {width:50.00%;}
    .col-dm-7  {width:58.33%;}
    .col-dm-8  {width:66.66%;}
    .col-dm-9  {width:75.00%;}
    .col-dm-10 {width:83.33%;}
    .col-dm-11 {width:91.66%;}
    .col-dm-12 {width:100.0%;}
}

@media screen and (min-width:1000px) {
    .col-dg-1 {width:08.33%;}
    .col-dg-2 {width:16.66%;}
    .col-dg-3 {width:25.00%;}
    .col-dg-4 {width:33.33%;}
    .col-dg-5 {width:41.66%;}
    .col-dg-6 {width:50.00%;}
    .col-dg-7 {width:58.33%;}
    .col-dg-8 {width:66.66%;}
    .col-dg-9 {width:75.00%;}
    .col-dg-10 {width:83.33%;}
    .col-dg-11 {width:91.66%;}
    .col-dg-12 {width:100.0%;}
}

@font-face { 
    font-family: 'font-staatliches';
    src: url('/Staatliches-Regular.ttf'); 
}

nav {
    background: rgb(11, 11, 92);
}

nav ul {
    list-style: none;
    padding: 0px;
    text-align: center;
    margin-right: 10px;
}

nav ul li {
    display: inline-block;
}

nav a:link, nav a:visited{
    height: 35px;
    text-decoration: none;
    font-family: 'font-staatliches';
    color: white;
    display: inline-block;
    padding: 10px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

a:hover {
    border-bottom: 2px solid #ffd700;
}

section h2 {
    color: orangered;
    font-size: 30px;
}

section {
    padding: 20px;
}

.background {
    background-color:rgb(242, 251, 253);
}

.alignText {
    padding-left: 4%;
    padding-right: 4%;
    text-align: left;
}

.alignImg {
    text-align: center;
}

section p {
    padding-top: 20px;
    line-height: 1.7em;
}

section button {
    display: block;
    width: 90%;
    margin: 10px 0px;
    padding: 5px;
    font-weight: bold;
    border: 3px solid #3db0f7;
    background-color: transparent;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

button:hover{
    background-color: darkblue;
    color: white;
}

section img{
    width: 90%;
}

.alignImg2 {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 30px;
}

.alignText2 {
    padding-top: 20px;
    padding-left: 4%;
    padding-right: 4%;
    text-align: left;
    margin-bottom: 30px;
}

@media screen and (min-width: 1000px) {

    section img{
        width: 400px;
    }

    nav ul {
        text-align: right;
    }

    section {
        width: 1000px;
        margin:auto;
    }

    section button {
        display: inline;
        width: 40%;
        margin-right: 15px;;
    }
}